<!doctype html>
<html>
    <head>
        <title> Spectacles | All Documents </title>
        <link rel="stylesheet" href="/static/css/documents.css"></link>
        <script> PROPS = {{PROPS | safe}}; </script>
        <script> console.log("props?", PROPS); </script>
    </head>
    <body>
        <div id='react-root'></div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>
        <script src="/static/js/documents.js"></script>
    </body>
</html>
