<!doctype html>
<html>
    <head>
      <title> Spectacles | Document </title>
        <!-- Contrib -->
        <link rel="stylehseet" href="/static/contrib/annotator-full.1.2.7/annotator.min.css">
        <!-- Custom -->
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/documents.css">
        <script> PROPS = {{PROPS | safe}}; </script>
        <script> console.log("props?", PROPS); </script>
    </head>
    <body>
        <div id='react-root'></div>
        <!-- Contrib -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
			          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			          crossorigin="anonymous"></script>
        <script src="/static/contrib/annotator-full.1.2.7/annotator-full.min.js"></script>
        <!-- Custom -->
        <script src="/static/js/document.js"></script>
    </body>
</html>
