#react-root {
    min-width: 1100px;
}
/*#react-root {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background: #FEFEFE;
}*/

.main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: row;
}
.nav-item {
    margin: 0 2px;
    font-size: 16px;
    font-family: Arial;
}
.box {
    min-height: -webkit-min-content;
    display: flex;
    width: 100%;
}

.state-choice {
    display: inline-block;
    margin-left: 20px;
}
.header-right {
    font-family: arial;
}
.header-right.annotations .choice-ann,
.header-right.information .choice-info,
.header-right.similar .choice-sim {
    font-weight: bold;
}

.page-header {
    margin: 10px 30px 10px 10px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 0;
}
    
.column {
    /*overflow: auto;*/
    margin: 10px;
    padding: 10px 20px;
    flex: 1;
    background: #FAF8EA;
}


.mce-window {
    opacity: 1 !important;
}
.header-center {
    flex: 1;
}


.document-pane {
    color: #111;
    /*flex-grow: 1;*/
    min-width: 600px;
    box-sizing: border-box;
    margin-right: 5px;
    box-shadow: 0px 2px 2px 2px #ddd;
}
.annotations-pane {
    margin-left: 5px;
    padding-top: 0;
    min-width: 300px;
    max-width: 700px;
    box-sizing: border-box;
    background: #FFFFFF;
}
.annotations-pane > h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: right;
    font-weight: normal;
}
.annotation-timestamp {
    float: right;
    font-size: 11px;
    color: #777;
}
.annotation-info > * {
    display: inline-block;
}
.annotation > * {
    display: none;
}
.annotation.active > * {
    display: block;
}
.annotation-text {
    display: block;
}
.annotation-text > * {
    margin: 0;
}
.annotation-info {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 4px;
}

.annotation {
    box-shadow: 0px 2px 2px 2px #ddd;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.annotation-tags {
    margin-top: 10px;
    margin-bottom: 10px;
}
.annotation-tag {
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid #0CA5B0;
    display: inline-block;
    margin: 0 2px;
    color: #0CA5B0;
    font-size: 11px;
}
.annotation-quote {
    font-style: italic;
    background: #FAF8EA;
    margin: 10px;
    padding: 8px;
}
.annotation-text {
    padding: 5px;
}


.document-title {
    font-size: 36px;
    font-family: Georgia;
    color: #000;
}
.document-author {
    font-size: 30px;
    font-family: Georgia;
    color: #333;
}

a {
    color: #FE4365;
    text-decoration: none;
}
a:visited {
    color: #381C83;
}

.react-fuzzy-filter__input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 5px;
}
