#react-root {
    min-width: 1100px;
}
/*#react-root {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    background: #FEFEFE;
}*/

.annotation img {
    max-width: 100%;
    height: auto;
}


.state-choice {
    display: inline-block;
    margin-left: 20px;
}

    


.mce-window {
    opacity: 1 !important;
}

.document-pane {
  background: #fff;
  padding: 10px 20px;
}

.annotations-pane {
    padding: 0;
    min-width: 300px;
    box-sizing: border-box;
    background: none;
}
.annotations-pane > h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: right;
    font-weight: normal;
}
.annotation-timestamp {
    float: right;
    font-size: 11px;
    color: #777;
}
.annotation-info > * {
    display: inline-block;
}
.annotation.selected {
  outline-color: #000;
  margin-top: 10px;
}
.annotation.selected .annotation-info-top,
.annotation.selected .annotation-info-bottom {
  border-color: #000;
}
.annotation-quote {
    display: block;
}
.similar-annotations {
  text-transform: uppercase;
  font-family: arial;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 6px;
  font-size: 14px;
  color: #888;
}
.annotation-text {
    display: block;
}
.annotation-text > * {
    margin: 0;
}
.annotation-info {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}
.annotation-info-top {
  border-bottom: 1px solid #ccc;
}
.annotation-info-bottom {
  border-top: 1px solid #ccc;
}
.annotation-link, .annotation-controls {
  display: flex;
}
.annotation-controls i {
  cursor: pointer;
  margin: 0 4px;
  color: #888;
}
.annotation-controls i:hover {
  color: #000;
}
.annotation-link, .annotation-creator {
  flex: 1;
}
.annotation-info-top,
.annotation-info-bottom {
  display: flex;
  padding: 2px;
}

.annotation {
    /*box-shadow: 0px 2px 2px -2px #ddd
      box-shadow: 0px 2px 2px 2px #ddd;*/
    outline: 1px solid #ddd;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 20px;
    background: white;
}
.annotation-tags {
    margin-top: 10px;
    margin-bottom: 10px;
}
.annotation-tag {
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid #0CA5B0;
    display: inline-block;
    margin: 0 2px;
    color: #0CA5B0;
    font-size: 11px;
}
.annotation-quote {
    font-style: italic;
    background: #FAF8EA;
    margin: 10px;
    padding: 8px;
}
.annotation-text {
    padding: 5px;
}


.document-title {
    font-size: 36px;
    font-family: Georgia;
    color: #000;
}
.document-author {
    font-size: 30px;
    font-family: Georgia;
    color: #333;
}

a {
    color: #FE4365;
    text-decoration: none;
}
a:visited {
    color: #381C83;
}

.react-fuzzy-filter__input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 5px;
}
.search-bar-query {
  background: white;
  box-shadow: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
}
