.main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.annotation, .document-entry {
  background: white;
}
.content {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: row;
}
.box {
    min-height: -webkit-min-content;
    display: flex;
    width: 100%;
}
.search-results {
  flex: 1;
  overflow-y: auto;
}

.state-choice {
    display: inline-block;
    margin-left: 20px;
}

.nav-item {
    margin: 0 2px;
    font-size: 16px;
    font-family: Arial;
}
