#react-root {
    min-width: 1100px;
}

.state-choice {
    display: inline-block;
    margin-left: 20px;
}

.mce-window {
    opacity: 1 !important;
}

.document-pane {
  background: #fff;
  padding: 10px 20px;
}

.annotations-pane {
    padding: 0;
    min-width: 300px;
    box-sizing: border-box;
    background: none;
}
.annotations-pane > h2 {
    margin: 0;
    margin-bottom: 10px;
    text-align: right;
    font-weight: normal;
}
.annotation-timestamp {
    float: right;
    font-size: 11px;
    color: #777;
}
.annotation-info > * {
    display: inline-block;
}
.annotation.selected {
  outline-color: #AD00E3CC;
  margin-top: 10px;
}
.annotation.selected .annotation-info-top,
.annotation.selected .annotation-info-bottom {
  border-color: #AD00E3CC;
}
.annotation-quote {
    display: block;
}
.similar-annotations {
  text-transform: uppercase;
  font-family: arial;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 6px;
  font-size: 14px;
  color: #888;
}


.document-display-title {
    font-size: 36px;
    font-family: Georgia;
    color: #000;
}
.document-display-author {
    font-size: 30px;
    font-family: Georgia;
    color: #333;
}

