@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Noto+Serif:400,400i,700,700i&subset=latin-ext');

#react-root {
    min-width: 1100px;
}

html {
  font-size: 12px;
}

.main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.search-bar {
  flex: 0;
}
.search-results {
  margin-top: 20px;
  flex: 1;
  overflow-y: auto;
  padding: 1px;
}
.column {
    /*overflow: auto;*/
    margin: 10px;
    margin-top: 0;
    /*background: #FAF8EA;
    background: #FFF;*/
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: row;
}
.nav-item {
    margin: 0 2px;
    font-size: 14px;
    font-family: Arial;
}
.box {
    min-height: -webkit-min-content;
    display: flex;
    width: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  background: #EEE;
  background: #FBFBFF;
}
.page-header {
  background: white;

}


h1, h2, h3, h4, h5, h6 {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.grid-container {
  display: grid;
  align-content: baseline;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: auto;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}

.scroll-y {
  overflow: hidden;
  overflow-y: auto;
}

.document-pane,
.pane-left {
  grid-column: 1;
  grid-row: 2;
}
.document-pane {
    color: #111;
    /*flex-grow: 1;*/
    min-width: 600px;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 2px #ddd;
}
.annotations-pane,
.pane-right {
  grid-column: 2;
  grid-row: 2;
  padding: 1px;
}


.header {
  grid-column: 1/3;
  grid-row: 1;
  border-bottom: 1px solid #ccc;
}

.page-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin: 0;
}
.header-right {
    font-family: arial;
}
.header-right.annotations .choice-ann,
.header-right.information .choice-info,
.header-right.similar .choice-sim {
    font-weight: bold;
}
.header-center {
    flex: 1;
}

.react-tabs__tab-list {
  flex: 0;
  display: block;

  padding: 10px;
  padding-top: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}
.react-tabs__tab {
  list-style: none;
  display: inline-block;
  color: #86868F;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Arial;
  text-align: center;
  flex: 1;
}
.react-tabs__tab:first-child {
  text-align: left;
}
.react-tabs__tab:last-child {
  text-align: right;
}
.react-tabs__tab:hover,
.react-tabs__tab--selected {
  color: #06060F;
}

.react-tabs__tab-panel--selected {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.document-entry {
  text-align: left;
  margin-bottom: 20px;
  outline: 1px solid #ccc;
  padding-bottom: 20px;
  padding: 10px;
  background: white;
  box-shadow: 0px 1px 5px 0px #ccc
}

.document-meta {
  font-size: 12px;
  margin-top: 10px;
}
.document-title, .document-author, .document-meta > * {
  display: inline-block;
}
.document-timestamp, .document-author {
  float: right;
}
.document-title, .document-creator {
  font-size: 14px;
}
.document-author, .document-timestamp {
  font-size: 12px;
  color: #888;
}
.document-highlight-text {
    font-style: italic;
    background: #FAF8EA;
    margin: 10px;
    padding: 8px;
}
.search-bar-query {
  background: white;
  box-shadow: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
}
a, a:visited {
    color: #AD00E3CC;
    text-decoration: none;
}
a:hover {
    color: #AD00E3;
}

.annotation-text {
    display: block;
}
.annotation-text > * {
    margin: 0;
}
.annotation-body {
  padding: 5px;
}
.annotation-info {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 5px;
}
.annotation-info-top {
  border-bottom: 1px solid #ccc;
}
.annotation-info-bottom {
  border-top: 1px solid #ccc;
}
.annotation-link, .annotation-controls, .annotation-spacer {
  display: flex;
  margin-left: auto;
}
.annotation-controls i {
  cursor: pointer;
  margin: 0 4px;
  color: #888;
}
.annotation-controls i:hover {
  color: #000;
}
.annotation-creator, .annotation-spacer {
  flex: 1;
}
.annotation-info-top,
.annotation-info-bottom {
  display: flex;
  padding: 5px;
}

.annotation {
    box-shadow: 0px 1px 5px 0px #ccc;
    outline: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: white;
}
.annotation-tags {
    margin-top: 10px;
    margin-bottom: 10px;
}
.annotation-tags.no-tags {
  margin: 0;
}
.annotation-tag {
    padding: 2px 5px;
    border-radius: 4px;
    border: 1px solid #0CA5B0;
    display: inline-block;
    margin: 0 2px;
    color: #0CA5B0;
    font-size: 11px;
}
.annotation-quote {
    font-style: italic;
    background: #FAF8EA;
    margin: 5px;
    margin-bottom: 10px;
    padding: 8px;
}
.annotation-text {
    padding: 5px;
}
.annotation img {
    max-width: 100%;
    height: auto;
}

.document-info-table {
  background: white;
  outline: 1px solid #ccc;
  margin: auto;
  box-shadow: 0px 1px 5px 0px #ccc
}
.document-info-table td {
  padding: 10px;
}


.hide-similar {
  width: 200px;
  border: 1px solid #888;
  color: #888;
  text-transform: uppercase;
  padding: 6px;
  background: white;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.hide-similar:hover {
  border-color: #000;
  color: #000;
}

