.user-page {
  margin-left: auto;
  margin-right: auto;
}

.user-display {
  font-size: 18px;
  text-align: center;
  margin: 20px;
}
.user-name {
  font-size: 24px;
}
.user-email {
  font-size: 14px;
  padding: 10px;
}
.item-counts {
  display: table;
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}
.item-count {
  display: table-cell;
  width: 50%;
}
