<!doctype html>
<html>
    <head>
      <title> Spectacles | Document </title>
        <link rel="stylesheet" href="/static/css/shared.css">
        <link rel="stylesheet" href="/static/css/document.css">
        <script> PROPS = {{PROPS | safe}}; </script>
    </head>
    <body>
        <div id='react-root'></div>
        <!-- Annotator -->
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
			          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			          crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/contrib/annotator-full.1.2.10/annotator.min.css">
        <!--<script src="/static/contrib/annotator-full.1.2.10/annotator-full.min.js"></script>-->
        <script src="/static/contrib/annotator.js"></script>
        <!-- Rich-text annotation -->
        <script src="/static/contrib/tinymce/tinymce.min.js"></script>
        <link rel="stylesheet" href="/static/contrib/richtext-annotator/richText-annotator.css">
        <script src="/static/contrib/richtext-annotator/richText-annotator.js"></script>

        <!-- Custom -->
        <script src="/static/js/document.js"></script>
    </body>
</html>
